CMakeLists.txt.user
LocSLAM/Examples/locSLAM
LocSLAM/Thirdparty/DBoW2/build/
LocSLAM/Thirdparty/DBoW2/lib/
LocSLAM/Thirdparty/g2o/build/
LocSLAM/Thirdparty/g2o/config.h
LocSLAM/Thirdparty/g2o/lib/
LocSLAM/Thirdparty/eigen/
LocSLAM/Vocabulary/ORBvoc.txt
LocSLAM/build*/
*~
LocSLAM/lib/
LocSLAM/.vscode/
Data/*
*output*.txt
*result*.txt
*experiments*/
Docker/Docker_LocSLAM/configure.summary

debug.txt

*.avi
*.mp4
*.zip
*.tgz
